@import "global.css";
@import "normalize.css";
@import "simplebar.css";
@import "product.css";
@import "products-grid.css";

@font-face {
	font-family: Montserrat-VariableFont;
	src: url("/fonts-car/montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
	font-family: Montserrat-VariableFont;
	src: url("/fonts-car/montserrat/Montserrat-VariableFont_wght.ttf");
}

/* .header {
	position: relative;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
	height: 150px;
	width: 100%;
} */

.header {
	height: 150px;
	width: 100%;
}

.header .container {
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.header__wrap {
	width: 100%;
	display: flex;
	margin-left: 130px;
	justify-content: space-between;
}

.nav {
	height: inherit;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.nav__list {
	display: flex;
	align-items: center;
}

/* .nav__item:not(:last-child) {
	margin-right: 61px;
} */
/* 
.nav__link { */
/* font-size: 14px; */
/* width: 70px; */
/* line-height: 19px; */
/* text-align: left;
	color: var(--color-dark); */

.header__location-buttom {
	border-radius: 15px;
	padding: 15px;
	width: 300px;
	background-color: #fff;
	margin-left: 80px;
	margin-right: 20px;
	color: #fffe42;
	font-weight: 700;
	font-size: 16px;
	background-color: #bfa8f6;
	text-align: center;
}

.header__location-buttom-html {
	margin-right: 70px;
	width: 270px;
}

.header__location-buttom:hover {
	background-color: #bfa8f6;
	transition: all 0.7s ease 0s;
}

.buttom {
	border-radius: 15px;
	padding: 15px;
}
.header__exit {
	/* position: fixed; */
	z-index: 7;
	right: 20px;
	margin-left: 50px;
	background-color: #bfa8f6;
	width: 100px;

	line-height: 20px;
	display: block;
	color: #000;
	font-weight: 700;
	font-size: 16px;
	border-radius: 30px;
}

.header__exit:hover {
	background-color: #ffd700;
	transition: all 0.7s ease 0s;
}
.user {
	display: block;
	margin-top: 15px;
	margin-left: 30px;
	margin-right: 30px;
}

.cart {
	position: relative;
	padding: 15px 15px;
	transition: background-color 0.3s;
}

.cart.active:hover {
	cursor: pointer;
	background-color: #ffd700;
	transition: background-color 0.3s;
}

/* .header__cart {
	margin-left: 40px; */
/* z-index: 7; */
/* color: #000;
	background-color: #c7db00;
	width: 100px;
	line-height: 5px;
	display: block;
	border-radius: 20px; */
/* text-align: center; */

.header__cart:hover {
	background-color: #f78b2d;
	transition: all 0.7s ease 0s;
}

.name-kafe {
	font-size: 40px;
	position: absolute;
	top: 0;
	color: #ffffff;
	font-weight: 700;
	margin-left: 20px;
}

.photo-kaffe-container {
	background: url("/img/rostics.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 450px;
	border-radius: 50px;
	margin-bottom: 50px;
}
.photo-kaffe-container-Baikalove {
	background: url("/img/menu-Baikalove/титул.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 450px;
}
.photo-kaffe-container-vita {
	background: url("/img/new_img/мяскоф.jpeg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 400px;
	border-radius: 30px;
	margin-bottom: 20px;
}

.photo-kaffe-container-vita {
	background: url("/img/new_img/Чайхана.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 400px;
	border-radius: 30px;
	margin-bottom: 20px;
}

.photo-kaffe-containerV-Lavashe{
	background: url("/img/new_img/в_лаваше.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 400px;
	border-radius: 30px;
	margin-bottom: 20px;
}
.photo-kaffe-container-molodejno{
	background: url("/img/new_img/молодежь.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 400px;
	border-radius: 30px;
	margin-bottom: 20px;
}


.card > img {
	/* border-radius: 30px; */
}

.photo-kaffe {
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	line-height: 600px;
}

.cart__text {
	padding: 0;
}

.cart__quantity {
	position: absolute;
	/* right: 2px; */
	left: 65px;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -10px;
	background-color: #e00c21;
	border-radius: 100%;
	padding: 7px;
	color: #fff;
	font-size: 12px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.cart-content {
	border-radius: 20px;
	cursor: default;
	width: 490px;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
	border: 5px solid #bfa8f6;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
	opacity: 1;
	visibility: visible;
	transition:
		opacity 0.3s ease-in-out,
		visibility 0.3s ease-in-out;
}

.content {
	padding-top: 50px;
	padding-bottom: 30px;
}

.cart-content__list {
	max-height: 330px;
}

.cart-product {
	display: flex;
	align-items: center;
	padding: 20px 20px;
	padding-right: 13px;
	transition: background-color 0.3s;
	border-radius: 20px;
}

.cart-product:hover {
	background-color: #bfa8f6;
	transition: background-color 0.3s;
}

.cart-product__img {
	margin-right: 20px;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
	border-radius: 20px;
}

.cart-product__title {
	max-width: 300px;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	margin-bottom: 18px;
}

.cart-product__price span {
	font-family: "Montserrat, serif";
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-dark);
	
}

.cart-product__delete {
	border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("/img/trash.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	position: absolute;
	right: 30px;
}

.cart-content__bottom {
	padding: 30px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-content__fullprice {
	font-size: 25px;
	line-height: 20px;
	font-weight: 500;
	color: var(--color-dark);
	display: flex;
	flex-direction: column;
}

.fullprice {
	margin-top: 15px;
	font-family: Montserrat-VariableFont;
	font-weight: 500;
	font-size: 25px;
	line-height: 23px;
	color: var(--color-dark);
	text-align: center;
}

.cart-content__btn {
	display: inline-block;
	width: 246px;
	text-align: center;
	padding: 20px;
}

.simplebar-track.simplebar-vertical {
	width: 4px;
	background: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(77, 77, 77, 0.2);
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

/* Стили с style.css2 */

.header__input {
	height: 50px;
	width: 400px;
	border: 2px solid #5a5a5a;
	border-radius: 15px;
	padding: 15px;
	margin-left: 70px;
}

.header__input:hover {
	background-color: #f7f7f7;
}

.header__input:focus {
	background-color: #f7f7f7;
}
.header__search-buttom {
	border-radius: 15px;
	background-color: #c7db00;
	color: #000;
	width: 100px;
	display: block;
	line-height: 20px;
	margin-left: 30px;
	text-align: center;
}
.header__search-buttom:hover {
	background-color: #f78b2d;
	transition: all 0.7s ease 0s;
}

/* .header__location-buttom {
	border: 2px solid #5a5a5a;
	border-radius: 15px;
	padding: 15px;
	width: 230px;
	background-color: #fff;
	margin-left: 20px;
	color: #000;
	margin-right: 20px;
}

.header__location-buttom:hover {
	background-color: #f78b2d;
	transition: all 0.7s ease 0s;
} */

/* Попап */
.popup {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(234, 190, 246, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
	border: 8px solid #bfa8f6;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup__content {
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wrapper-popup {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
}
.popup__body {
	border-radius: 20px;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.header__popup-sourch {
	margin-right: 5px;
}
.popup__content {
	border-radius: 20px;
	background-color: #fff;
	color: #bfa8f6;
	max-width: 800px;
	padding: 30px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
	text-align: center;
	border: 5px solid #bfa8f6;
}

.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}

.popup__title {
	font-size: 35px;
	margin: 0px 0px 1em 0px;
	font-weight: bold;
	color: #fffe42;
	text-shadow:
		-1px -1px 0 #bfa8f6,
		1px -1px 0 #bfa8f6,
		-5px 5px 0 #bfa8f6,
		2px 2px 0 #bfa8f6;
}

.popup__sub-title {
	font-size: 25px;
}

.map-popup {
	border-radius: 20px;
	border: 3px solid #bfa8f6;
	box-shadow: 10px 5px 5px #bfa8f6;
}

/* Футер */

.footer {
	height: 400px;
}
.container {
}
h4 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #bfa8f6;
	
}

.footer-line {
	display: block;
	border: 0.5px solid #bfa8f6;
	width: 100%;
	margin-top: 40px;
}
.footer__list {
	font-size: 20px;
	color: #bfa8f6;
	line-height: 40px;
	display: inline-block;
	position: relative;
}

.footer__list::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px; /* Отступ подчёркивания от текста */
	width: 0;
	height: 2px; /* Толщина линии */
	background-color: currentColor; /* Цвет как у текста */
	transition: width 0.3s ease; /* Анимация */
}
.footer__list:hover::after {
	width: 100%; /* Полная ширина при наведении */
}

/* Начало майна */
.title {
	font-weight: normal;
	font-size: 35px;
	margin-top: 50px;
	text-align: center;
}
.cercl1 {
	position: fixed;
	width: 200px;
	height: 200px;
	left: -120px;
}

.cercl2 {
	position: fixed;
	bottom: 30px;
	width: 100px;
	height: 100px;
	right: -60px;
}

.section-background {
	background: url("/img/neobichnaya-aziatskaya-eda-kotoraya-udivit-vas.webp");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 600px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	line-height: 600px;
}
.main-word {
	font-size: 40px;
	color: #fff;
}

/* Стрелка назад к меню */

.car-top {
	margin-bottom: 50px;
}
.back {
	font-size: 25px;
	margin-left: 10px;
	color: #bfa8f6;
	font-weight: 700;
}
.back:hover {
	color: #bfa8f6;
	transition: 0.2s;
}

.back-arrow {
	margin-right: 25px;
}
